<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://d2jv02qf7xgjwx.cloudfront.net/sites/50/include/style1.css">
        <style type="text/css">
            a {border-bottom: dotted 0.1rem #333333;}
            td {padding: 0.75em 0.75em 0.75em 0.75em !important;}
            th {text-align: center;}
            tr {font-size: 13px;}
          </style>
    </head>
    <body>
    
    <p style="text-align: justify;">&nbsp;</p>
        <table id="myTable" class="tablefont" style="width:858px;border: 1px solid black;border-collapse: collapse;">
            <tbody>
                {% if language == "EN" %}
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th class="" colspan="4" >Meetings conducted by the Security Council in {{year}}  <br />
                        (in reverse chronological order)</th>
                </tr>                
                {% endif %}
                {% if language == "FR" %}
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th class="" colspan="4" >Réunions conduites par le Conseil de sécurité en {{year}}<br />
                    (Dans l'ordre chronologique inverse)</th>
                </tr>                
                {% endif %}
                {% if language == "ES" %}
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th class="" colspan="4" >Reuniones realizadas por el Consejo de Seguridad en {{year}}<br />
                        (en orden cronológico inverso)</th>
                </tr>                
                {% endif %}                

                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th style="border: 1px solid black;border-collapse: collapse;" width="15%">{{title[0]}} <br/></th>
                    <th style="border: 1px solid black;border-collapse: collapse;" width="10%">{{title[1]}} </th>
                    <th style="border: 1px solid black;border-collapse: collapse;" width="30%">{{title[2]}} </th>
                    <th style="border: 1px solid black;border-collapse: collapse;" width="15%">{{title[3]}} </th>
                </tr>
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    {% if language == "EN" %}
                        <td colspan="4"><strong>Document links</strong> will work once the document has been published in the Official Document System.</td>
                    {% endif %}    
                    {% if language == "FR" %}
                        <td colspan="4"><strong>Les liens vers les documents</strong> fonctionneront une fois que le document aura été publié dans le système de documents officiel.</td>
                    {% endif %} 
                    {% if language == "ES" %}
                        <td colspan="4"><strong>Enlaces de documentos</strong> funcionará una vez que el documento haya sido publicado en el Sistema de Documento Oficial.</td>
                    {% endif %}                                               
                </tr>
                
                    {% if language == "EN" %}
                        {% for record in data %}
                        <tr style="border: 1px solid black;border-collapse: collapse;">
                            <td style="border: 1px solid black;border-collapse: collapse;"><a href="{{record['meeting_record_link']}}"  target="blank">{{record["meeting_record"]}}</a></td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record["date"][0]["value"]}}</td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record["topic"][0]["value"]}}</td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >
                                {% for my_record in record.outcomes %}                                    
                                    <span> {{my_record["outcome"][0]["outcome_text_prefix"]}} </span>
                                    <span> <a href={{my_record['outcome'][0]['outcome_text_link']}}   target="blank"> {{my_record['outcome'][0]['outcome_text']}} </a> </span>
                                    <span> {{my_record["outcome"][0]["outcome_text_sufix"]}} </span>
                                    <br>
                                    <span> {{my_record["outcome_vote"]}} </span>
                                    <br>
                                {% endfor %}  
                            </td>
                            
                        </tr>
                        {% endfor %}      
                    {% endif %}  

                    {% if language == "FR" %}
                        {% for record in data %}
                        <tr style="border: 1px solid black;border-collapse: collapse;">
                            <td style="border: 1px solid black;border-collapse: collapse;"><a href="{{record['meeting_record_link_fr']}}"  target="blank">{{record["meeting_record"]}}</a></td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record["date"][1]["value"]}}</td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record["topic"][1]["value"]}}</td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >
                                {% for my_record in record.outcomes %}                                    
                                    <span> {{my_record["outcome"][1]["outcome_text_prefix"]}} </span>
                                    <span> <a href={{my_record['outcome'][1]['outcome_text_link']}}  target="blank"> {{my_record['outcome'][1]['outcome_text']}} </a> </span>
                                    <span> {{my_record["outcome"][1]["outcome_text_sufix"]}} </span>
                                    <br>
                                    <span> {{my_record["outcome_vote"]}} </span>
                                    <br>
                                {% endfor %}  
                            </td>
                           
                        </tr>
                        {% endfor %}      
                    {% endif %}  

                {% if language == "ES" %}
                    {% for record in data %}
                    <tr style="border: 1px solid black;border-collapse: collapse;">
                        <td style="border: 1px solid black;border-collapse: collapse;"><a href="{{record['meeting_record_link_es']}}"  target="blank">{{record["meeting_record"]}}</a></td>
                        <td style="border: 1px solid black;border-collapse: collapse;">{{record["date"][2]["value"]}}</td>
                        <td style="border: 1px solid black;border-collapse: collapse;">{{record["topic"][2]["value"]}}</td>
                        <td style="border: 1px solid black;border-collapse: collapse;" >
                            {% for my_record in record.outcomes %}                                    
                                <span> {{my_record["outcome"][2]["outcome_text_prefix"]}} </span>
                                <span> <a href={{my_record['outcome'][2]['outcome_text_link']}}  target="blank"> {{my_record['outcome'][2]['outcome_text']}} </a> </span>
                                <span> {{my_record["outcome"][2]["outcome_text_sufix"]}} </span>
                                <br>
                                <span> {{my_record["outcome_vote"]}} </span>
                                <br>
                            {% endfor %}  
                        </td>
                 
                    </tr>
                    {% endfor %}      
                {% endif %}  
                
            </tbody>
        </table>
       
    </body>
</html>