<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://d2jv02qf7xgjwx.cloudfront.net/sites/50/include/style1.css">
        <style type="text/css">
            a {border-bottom: dotted 0.1rem #333333;}
            td {padding: 0.75em 0.75em 0.75em 0.75em !important;}
            th {text-align: center;}
            tr {font-size: 13px;}
        </style>
    </head>
    <body>
    
    <p style="text-align: justify;">&nbsp;</p>
        <table id="myTable" class="tablefont" style="width:800px;border: 1px solid black;border-collapse: collapse;">
            <tbody>
                {% if language == "EN" %}
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th class="" colspan="4" >Meetings conducted by the Security Council in {{year}}  <br />
                        (in reverse chronological order)</th>
                </tr>                
                {% endif %}
                {% if language == "FR" %}
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th class="" colspan="4" >Réunions conduites par le Conseil de sécurité en {{year}}<br />
                    (Dans l'ordre chronologique inverse)</th>
                </tr>                
                {% endif %}
                {% if language == "ES" %}
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th class="" colspan="4" >Reuniones realizadas por el Consejo de Seguridad en {{year}}<br />
                        (en orden cronológico inverso)</th>
                </tr>                
                {% endif %}                

                <tr style="border: 1px solid black;border-collapse: collapse;">
                    <th style="border: 1px solid black;border-collapse: collapse;" width="7%";>{{title[0] if title and title[0] else ''}} <br/></th>
                    <th style="border: 1px solid black;border-collapse: collapse;" width="7%";>{{title[1] if title and title[1] else ''}} </th>
                    <th style="border: 1px solid black;border-collapse: collapse;" width="7%";>{{title[2] if title and title[2] else ''}} </th>
                    <th style="border: 1px solid black;border-collapse: collapse;" width="29%">{{title[3] if title and title[3] else ''}} </th>
                    <th style="border: 1px solid black;border-collapse: collapse;" width="20%">{{title[4] if title and title[4] else ''}} </th>
                </tr>
                <tr style="border: 1px solid black;border-collapse: collapse;">
                    {% if language == "EN" %}
                        <td colspan="4"><strong>Document links</strong> will work once the document has been published in the Official Document System.</td>
                    {% endif %}    
                    {% if language == "FR" %}
                        <td colspan="4"><strong>Les liens vers les documents</strong> fonctionneront une fois que le document aura été publié dans le système de documents officiel.</td>
                    {% endif %} 
                    {% if language == "ES" %}
                        <td colspan="4"><strong>Enlaces de documentos</strong> funcionará una vez que el documento haya sido publicado en el Sistema de Documento Oficial.</td>
                    {% endif %}                                               
                </tr>
                
                    {% if language == "EN" %}
                        {% for record in data %}
                        <tr style="border: 1px solid black;border-collapse: collapse;">
                            <td style="border: 1px solid black;border-collapse: collapse;">
                                {%  if record.get('meeting_record_link') %}      
                                    <a href="{{record['meeting_record_link']}}"  target="_blank">{{record.get("meeting_record_en", "")}}</a>
                                {% else %}
                                    {{record.get("meeting_record_en", "")}}
                                {% endif %}  
                            </td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record.get("date", [{}])[0].get("value", "") if record.get("date") and record["date"]|length > 0 else ""}}</td>
                            {% if record.get("press_release_link_en") %}
                                <td style="border: 1px solid black;border-collapse: collapse;" >
                                    <a href="{{record.get("press_release_link_en", "#")}}" target="_blank">{{record.get("press_release_text_prefix_en", "")}} {{record.get("press_release_text_en", {}).get("value", "")}} {{record.get("press_release_text_sufix_en", "")}}</a>
                                </td>
                            {% else %}
                                <td style="border: 1px solid black;border-collapse: collapse;" ></td>
                            {% endif %}
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record.get("topic", [{}])[0].get("value", "") if record.get("topic") and record["topic"]|length > 0 else ""}}</td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >
                                {% if record.get("outcomes") %}
                                    {% for my_record in record.outcomes %}                                    
                                        <span> {{my_record.get("outcome", [{}])[0].get("outcome_text_prefix", "") if my_record.get("outcome") and my_record["outcome"]|length > 0 else ""}} </span>
                                        {%  if my_record.get('outcome') and my_record['outcome']|length > 0 and my_record['outcome'][0].get('outcome_text') %}      
                                            <span> <a href="{{my_record['outcome'][0].get('outcome_text_link', '#')}}"   target="_blank"> {{my_record['outcome'][0]['outcome_text']}} </a> </span>
                                        {% endif %}  
                                        <span> {{my_record.get("outcome", [{}])[0].get("outcome_text_sufix", "") if my_record.get("outcome") and my_record["outcome"]|length > 0 else ""}} </span>
                                        <br>
                                        <span> {{my_record.get("outcome_vote", "")}} </span>
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    <span>No outcomes available</span>
                                {% endif %}
                            </td>
                            
                        </tr>
                        {% endfor %}      
                    {% endif %}  

                    {% if language == "FR" %}
                        {% for record in data %}
                        <tr style="border: 1px solid black;border-collapse: collapse;">
                            <td style="border: 1px solid black;border-collapse: collapse;">
                                {%  if record.get('meeting_record_link_fr') %}      
                                    <a href="{{record['meeting_record_link_fr']}}"  target="_blank">{{record.get("meeting_record_fr", "")}}</a>
                                {% else %}
                                    {{record.get("meeting_record_fr", "")}}
                                {% endif %}
                            </td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record.get("date", [{}])[1].get("value", "") if record.get("date") and record["date"]|length > 1 else ""}}</td>
                            {% if record.get("press_release_text_fr") %}
                                <td style="border: 1px solid black;border-collapse: collapse;" >
                                    <a href="{{record.get("press_release_link_fr", "#")}}" target="_blank">{{record.get("press_release_text_prefix_fr", "")}} {{record.get("press_release_text_fr", {}).get("value", "")}} {{record.get("press_release_text_sufix_fr", "")}}</a>
                                </td>
                            {% else %}
                                <td style="border: 1px solid black;border-collapse: collapse;" ></td>
                            {% endif %}
                            <td style="border: 1px solid black;border-collapse: collapse;" >{{record.get("topic", [{}])[1].get("value", "") if record.get("topic") and record["topic"]|length > 1 else ""}}</td>
                            <td style="border: 1px solid black;border-collapse: collapse;" >
                                {% if record.get("outcomes") %}
                                    {% for my_record in record.outcomes %}                                    
                                        <span> {{my_record.get("outcome", [{}])[1].get("outcome_text_prefix", "") if my_record.get("outcome") and my_record["outcome"]|length > 1 else ""}} </span>
                                        {%  if my_record.get('outcome') and my_record['outcome']|length > 1 and my_record['outcome'][1].get('outcome_text') %}  
                                            <span> <a href="{{my_record['outcome'][1].get('outcome_text_link', '#')}}"  target="_blank"> {{my_record['outcome'][1]['outcome_text']}} </a> </span>
                                        {% endif %}  
                                            <span> {{my_record.get("outcome", [{}])[1].get("outcome_text_sufix", "") if my_record.get("outcome") and my_record["outcome"]|length > 1 else ""}} </span>
                                        <br>
                                        <span> {{my_record.get("outcome_vote", "")}} </span>
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    <span>Aucun résultat disponible</span>
                                {% endif %}
                            </td>
                           
                        </tr>
                        {% endfor %}      
                    {% endif %}  

                {% if language == "ES" %}
                    {% for record in data %}
                    <tr style="border: 1px solid black;border-collapse: collapse;">
                        <td style="border: 1px solid black;border-collapse: collapse;">
                            {%  if record.get('meeting_record_link_es') %}      
                                <a href="{{record['meeting_record_link_es']}}"  target="_blank">{{record.get("meeting_record_es", "")}}</a>
                            {% else %}
                                {{record.get("meeting_record_es", "")}}
                            {% endif %}
                        </td>
                        <td style="border: 1px solid black;border-collapse: collapse;">{{record.get("date", [{}])[2].get("value", "") if record.get("date") and record["date"]|length > 2 else ""}}</td>
                        {% if record.get("press_release_text_es") %}
                            <td style="border: 1px solid black;border-collapse: collapse;" >
                                <a href="{{record.get("press_release_link_es", "#")}}" target="_blank">{{record.get("press_release_text_prefix_es", "")}} {{record.get("press_release_text_es", {}).get("value", "")}} {{record.get("press_release_text_sufix_es", "")}}</a>
                            </td>
                        {% else %}
                            <td style="border: 1px solid black;border-collapse: collapse;" ></td>
                        {% endif %}
                        <td style="border: 1px solid black;border-collapse: collapse;">{{record.get("topic", [{}])[2].get("value", "") if record.get("topic") and record["topic"]|length > 2 else ""}}</td>
                        <td style="border: 1px solid black;border-collapse: collapse;" >
                            {% if record.get("outcomes") %}
                                {% for my_record in record.outcomes %}                                    
                                    <span> {{my_record.get("outcome", [{}])[2].get("outcome_text_prefix", "") if my_record.get("outcome") and my_record["outcome"]|length > 2 else ""}} </span>
                                    {%  if my_record.get('outcome') and my_record['outcome']|length > 2 and my_record['outcome'][2].get('outcome_text') %}  
                                        <span> <a href="{{my_record['outcome'][2].get('outcome_text_link', '#')}}"  target="_blank"> {{my_record['outcome'][2]['outcome_text']}} </a> </span>
                                    {% endif %}  
                                        <span> {{my_record.get("outcome", [{}])[2].get("outcome_text_sufix", "") if my_record.get("outcome") and my_record["outcome"]|length > 2 else ""}} </span>
                                    <br>
                                    <span> {{my_record.get("outcome_vote", "")}} </span>
                                    <br>
                                {% endfor %}
                            {% else %}
                                <span>No hay resultados disponibles</span>
                            {% endif %}
                        </td>
                 
                    </tr>
                    {% endfor %}      
                {% endif %}  
                
            </tbody>
        </table>
       
    </body>
</html>